@model MyApp.Models.SaleViweModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal " style="direction:rtl">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SaleCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaleCount, new { htmlAttributes = new { @class = "form-control",@value=1 ,min=1 } })
                @Html.ValidationMessageFor(model => model.SaleCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="افزودن به سبد خرید" class="btn btn-block" style="background-color:#ff6e00" />
            </div>
        </div>
    </div>
}

