@model IEnumerable<MyApp.Models.FactorDetail>

@{
    ViewBag.Title = "ShopingCart";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    double total = 0;
}



<div >
    <img src="~/images/basket.jpg" class="img-responsive myshoppbaner" />
</div>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="direction:rtl;">
    <h2 class="text-center" style="color:#ff6e00">
        سبد خرید

    </h2><br />

    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Factors.DateFactor)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Products.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tedad)
            </th>
            <th>جمع</th>
            <th>عملیات</th>
        </tr>

        @foreach (var item in Model)
        {
            total = total + Convert.ToDouble(item.Products.SalePrice * item.Tedad);
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Factors.DateFactor)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Name)
                </td>
                <td>
                    <p>  @item.Products.SalePrice.ToString("n0")</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tedad)
                </td>
                <td>
                    <p>
                        @Convert.ToDouble(item.Products.SalePrice * item.Tedad).ToString("n0")ریال
                    </p>
                </td>
                <td>

                    @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn-xs btn-warning" })
                </td>

            </tr>
        }

    </table>
    <div>
        <a href="/UserPanel/ShowFactor/" class="btn pull-right showfactor">
            نمایش فاکتور
        </a>
        <a class="btn pull-left showfactor">جمع کل :@total.ToString("n0")</a>
    </div>
</div>
<div class="clearfix"></div>