@model IEnumerable<MyApp.Models.UserAddress>
@{
    ViewBag.Title = "نمایش آدرس";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <h2 class="pull-right">
        نمایش آدرس ها
    </h2>
    @*<h2 class="pull-left">
        @Html.ActionLink("جدید", "Create", "", new { @class = "btn btn-success" })

    </h2>*@
</div>
<div class="clearfix" style="margin-bottom:50px;">

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ostan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCodd)
        </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ostan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PostalCodd)
            </td>
            <td>
               
            </td>
        </tr>
    }

</table>
<div />