@model MyApp.Models.ForgetPasswordViewModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}




<div class="account-form col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-image:url(../../images/Account/log1.jpg);background-repeat:no-repeat;background-size:cover">
    <span class="account-form-title" style="margin-bottom:10px; margin-top:-120px"> فرم تعییر کلمه عبور </span>



    @using (Html.BeginForm())
    {
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            @Html.AntiForgeryToken()
            <div class="wrap-input-account">
                @Html.EditorFor(model => model.CodeNumber, new { htmlAttributes = new { @class = "input-account", @placeholder = "کد تایید" } })
                <span class="focus-account"></span>
                @Html.ValidationMessageFor(model => model.CodeNumber, "", new { @class = "text-danger" })
            </div>


            <div class="wrap-input-account">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-account", @placeholder = "کلمه عبور جدید" } })
                <span class="focus-account"></span>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>


            <div class="wrap-input-account">
                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "input-account", @placeholder = " تکرار کلمه عبور" } })
                <span class="focus-account"></span>
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
            </div>

            <div class="container-button">
                <button type="submit" class="account-button">
                    اعمال تعییرات
                </button>
            </div>
        </div>

    }
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
